* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Bodoni Moda", serif;
}
body {
  background: url(background.jpg) no-repeat fixed top right;
  color: #111;
  line-height: 1.6;
}
.flex-container{
    display: flex;
      justify-content: center;
}
.hero {
 background-image: url(hero.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
    height: 300px; 
    width: 100%; 
    display: flex;
    justify-content: center;
    align-items: center;
}
.hero > h2 {
background-color: #CAC7FF;
}
.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.5rem 1rem;
  background-color: #426080;
  color: white;
}
h1 {
  font-size: 1.8rem;
  letter-spacing: 1px;
  color: #FFF6C7;
}
h2 {
  color:#426080;
}
p {
  color:#426080;
}
.nav {
  background: #426080;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 2rem;
  padding: 0.75rem 0;
}
.nav a {
  color:#FFF6C7;
  text-decoration: none;
  font-weight: 500;
}
.ptext{
  display: flex;
  text-align: center;
    gap: 4rem;
  padding: 0rem 4rem;
}
.about {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  padding: 3rem 2rem;
  flex-wrap: wrap;
  background:#CAC7FF
}
.about-img {
  width: 200px;
  border-radius: 6px;
  border: 3px solid #426080
}
.about-text {
  max-width: 500px;
}
.contam {
    display: flex; 
    justify-content: center; 
    gap: 20px; 
    padding: 20px;
    border-radius: 4px;
}
.item {
    background-color: #ffffff; 
    padding: 20px; 
    color: #000000; 
    text-align: center;
    border-radius: 4px;
    flex: 1; 
    word-wrap: break-word; 
}
#accordion {
  width: 500px; 
  margin: 50px auto; 
}
.ui-accordion-header.ui-state-active {
    background: #FFF6C7; 
    color: #426080;
    background-image: none; 
}
.ui-accordion-header.ui-state-active a {
    color: #426080; 
  }
  footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 1.5rem 2rem;
  border-top: 3px solid #426080;
}
  .footer {
    flex-direction: column;
    text-align: center;
    gap: 1rem;
  }
@media only screen and (min-width: 768px) {
}
   #container {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}
